.list-view .scroll-bar:horizontal .increment-arrow,
.list-view .scroll-bar:horizontal .decrement-arrow,
.list-view .scroll-bar:horizontal .increment-button,
.list-view .scroll-bar:horizontal .decrement-button {
    -fx-padding:0;
}

.button {
    -fx-font: 14px "System";
    -fx-padding: 10;
    -fx-background-color: #dafe45;
    -fx-border-color: #000000;
    -fx-border-width: 2;
    -fx-border-radius: 15;
    -fx-background-radius: 50;
}

.button:hover {
    -fx-background-color: #dafecf;
}

.menu-button {
    -fx-font: 16px "System";
    -fx-max-width: 150;
}

.menu-button:hover {
    -fx-background-color: #dafecf;
}

.menu {
    -fx-max-width: 200;
}


.radio-button .radio {
    -fx-background-color: #dafe45;
    -fx-border-color: #000000;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
}

.radio-button:selected .radio  {
    -fx-background-color: #e42821;
}

.radio-button:selected .radio .dot {
    -fx-background-insets: 0;
    -fx-background-color: #dafe45;
}

.list-view .list-cell:odd {
    -fx-background-color: #effceb;
}

.list-view .list-cell:even {
    -fx-background-color: #dafecf;
}

.list-view .list-cell:selected {
    -fx-background-color: #dafe45;
    -fx-text-fill: #000000;
}

.list-view .list-cell .text {
    -fx-fill: #000000;
}

/*
gelb: #dafe45
hover gelb: #dafecf
rot: #e42821
*/